<mat-accordion>
  <mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Date Filter
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>


    from :
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    to :
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary">apply</button>

  </mat-expansion-panel>
</mat-accordion>