<mat-card>
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <app-xlsx-reader #uploadfile *ngIf="dataSource.length == 0" [disabled]="dataSource.length != 0" (ReadingData)="ReadingData($event)"></app-xlsx-reader>
            <button mat-raised-button color="warn" *ngIf="dataSource.length != 0" [disabled]="dataSource.length == 0" style="margin: 3px"
                (click)="DeleteAll()">Clear
            </button>
            <button mat-raised-button color="accent" style="float: right;margin: 3px" (click)="LoadData()" [disabled]="dataSource.length == 0">
                <mat-icon svgIcon="cloud_upload" style="display: inline-block;">
                </mat-icon>
                Load
            </button>

            <button mat-raised-button color="primary" (click)="download_template()" style="float:right;margin: 3px">download
                template
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <app-space [length]="3"></app-space>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
            <mat-card style="height: 50px; padding: 5px;" *ngIf="done">
                <mat-card-content>
                    <div style="height: 40px;">
                        <mat-icon svgIcon="tick"></mat-icon>
                        
                        <span style="font-size: 15px;"> {{DoneMessage}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <table mat-table [style.display]="dataSource.length == 0 ? 'none' : 'table'" [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="Month">
                    <th mat-header-cell *matHeaderCellDef> Month </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="element.Month ? '':'nullError'"> {{element.Month ? element.Month :'Required'}} </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="element.Name ? CheckDubl(element.Name,'Name') > 1 ? 'dublError' : '' :'nullError'"> {{element.Name ? element.Name   :'Required'}} </td>
                </ng-container>

                <ng-container matColumnDef="Head">
                    <th mat-header-cell *matHeaderCellDef> Head </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="element.Head ? '' :'nullError'"> {{element.Head ? element.Head :'Required'}} </td>
                </ng-container>

                <ng-container matColumnDef="Target">
                    <th mat-header-cell *matHeaderCellDef> Target </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="element.Target ? '':'nullError'"> {{element.Target ? element.Target :'Required'}} </td>
                </ng-container>

                <ng-container matColumnDef="City">
                    <th mat-header-cell *matHeaderCellDef> City </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="element.City ? '':'nullError'"> {{element.City ? element.City :'Required'}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> actions </th>
                                <td mat-cell *matCellDef="let element">
                    
                                    <button mat-raised-button color="primary" (click)="Edit(element)">Edit</button>
                                    <button mat-raised-button color="warn" (click)="Delete(element)">Delete</button>
                    
                                </td>
                            </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-card *ngIf="dataSource.length == 0">

            </mat-card>


        </div>
    </div>

</mat-card>