<div class="row" *ngIf="!noData || !ChartLoading">
  <div class="col-md-12 col-sm-12">
    <mat-card>
      <div [style.height]="'330px'">

        <ngx-charts-line-chart  style="z-index: 14" [scheme]="colorScheme" [results]="ELEMENT_DATA" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [curve]="curve" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)"></ngx-charts-line-chart>

      
      </div>
    </mat-card>
    <mat-spinner *ngIf="ChartLoading"></mat-spinner>

  </div>
</div>
<div class="row" *ngIf="noData && !ChartLoading">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <mat-card>
      <h3>No Data...</h3>
    </mat-card>
  </div>
  <div class="col-md-1"></div>
</div>